body{
   background-color: grey;
   color: black;
}
h1{
   background-color: white;
}
ul{
	background-color: white;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
li:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}
div{
	background-color:white ;
	text-align: center;
	border-radius: 10px;
	width: 200px;
	padding: 20px;
	margin: 47px;
	transition: 3s;
}
div:hover{
	transform:scale(1.1);
}
main{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
button{
background-color: grey;
border-radius: 10px;
}