body{
	background-color:pink;
	color:  white;
}
div{
	background-color: gray;
	border-radius: 10px;
	width: 300px;
	padding: 20px;
	margin: 10px;
	text-align: center;
	transition: 3s;
}
div:hover{
	transform: scale(0.6);
}
button{
     background-color: ;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
ul{
	display: flex;
	background-color: gray;
}
li{
   padding: 10px;
   list-style: none;
}
form{
	display: flex;
	flex-direction: column;
}
