body{
	background-color: pink;
	color: purple;
}
h1{
	background-color: fuchsia;
	color: purple;
}
ul{
	background-color: white;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
li:hover{
	background-color: black;
	color:white;
	cursor: wait;
}
div{
	background-color: white;
	border-radius: 10px;
	width: 250px;
	padding: 20px;
	margin: 10px;
	text-align: center;
}
main{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
}




