 body{
  background-color: blue;
  color: white;
}
header{
  background-color: yellow;
}
div{
     background-color: gray;
     width: 300px;
     height: 300px;
     margin: 10px;      
     padding: 10px;
     border-radius: 10px;
     text-align: center;     
     transition: 3s;
}
div:hover{
     transform: scale(1.1);
}
button{
     background-color: teal;
     border-radius: 10px;
}
main{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
}
ul{
    display: flex;
    background-color: aqua;
}
li{
   padding: 10px;
   list-style: none;
}
form{
  display: flex;
  flex-direction: column;
}




@media screen and (max-width: 321px) {
    main {
        grid-template-columns: 1fr;
    }
}







